body {
    font-family:verdana,arial,helvetica,sans-serif;
    color:#444444;
    font-size:9px;
}

ul {
    list-style-type:circle;
    padding-left:5px;
    margin-left:15px;
}

code {
    font-family:monospace;
}